main {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    max-width: 1200px;
    margin: 0 auto;
    border-left: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
}

h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    background-color: aliceblue;
    padding: 1rem;
    margin: 0;
    
}

.metabolism {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0 1rem;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.activityDetails {
    align-self: center;
    border: 1px solid grey;
    padding: 0 1rem;
}

input {
    margin-bottom: .75rem;
}

select {
    margin-bottom: .75rem;
    width: 11rem;
    max-width: 11rem;
}

.weightLoss {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0 1rem;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: .5rem;
}

.weightLoss ul li:first-child {
    font-weight: bolder;
    text-decoration: underline;
    margin-bottom: .5rem;
}

footer {
    max-width: 1200px;
    margin: 0 auto;
    background-color: aliceblue;
    text-align: center;
    padding: 1rem 0;
    border-left: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
}
